version: '3.8'

services:
  api:
    build: ./Biblioteca/API
    ports:
      - "3000:3000"
    environment:
      - SUPABASE_URL=${SUPABASE_URL}
      - SUPABASE_KEY=${SUPABASE_KEY}
      - NODE_ENV=development
    restart: unless-stopped
